{% extends "base.html" %} {% block title %}Login{% endblock %} {% block
content%}
<form method="post">
  <h3 align="center">Login</h3>
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
      placeholder="Enter Username"
      autocomplete="off"
    />
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Enter Password"
    />
    <br />
    <div align="center">
      <button type="submit" class="btn btn-info">Login</button>
    </div>
  </div>
</form>

{% endblock %}
