{% extends "base.html" %} {% block title %}Home{% endblock %} {% block style %}
<style>

  p#card-text {
    white-space: pre-line;
  }
  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: black;
  }
  small {
    color: rgb(105, 243, 13);
  }

</style>

{% endblock %} {% block content %}

<h1 align="center">{% block header %}Posts{% endblock %}</h1>
<div align="center">
  <a href="/create-post"
    ><button
      type="button"
      class="btn btn-primary btn-lg"
      data-toggle="tooltip"
      data-placement="top"
      title="Create A New Post"
    >
      Create a Post
    </button></a
  >
</div>
<br />
<div id="posts">
  {% for post in posts %}
  <div class="card border-secondary">
    <div class="card-header d-flex justify-content-between align-items-center">
      <a href="/posts/{{post.user.username}}"
        ><strong> {{post.user.username}} </strong></a
      >
      <div>
        <span id="likes-count-{{post.id}}">{{ post.likes|length }}</span> 
          {% if user.id in post.likes|map(attribute="author")|list %}
          <i
            class="fas fa-thumbs-up"
            id="like-button-{{post.id}}"
            onclick="like({{post.id}})"
          ></i>
          {% else %}
          <i
            class="far fa-thumbs-up"
            id="like-button-{{post.id}}"
            onclick="like({{post.id}})"
          ></i>
          {% endif %} 
          {% if user.id == post.author %}
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-sm btn-dark dropdown-toggle"
          data-bs-toggle="dropdown"
        ></button>
        <ul class="dropdown-menu bg-light">
          <li>
            <a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a>
          </li>
          <li>
            <a href="/edit-post/{{post.id}}" class="dropdown-item">Edit</a>
          </li>
        </ul>
      </div>
      {% endif %}
    </div>
    </div>
    <div class="card-body">
      <div class="card-text"><p>{{markdown.markdown(post.text)|safe}}</p></div>
      <p class="card-text">
        <hr>
        {% if post.comments|length > 0 %}
        <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
          <small>View {{post.comments|length}} Comments</small>
        </a>
        {% else %}
        <small class="text-muted">No Comments</small>
        {% endif %}
      </p>
      <div class="collapse" id="comments-{{post.id}}">
        <div class="card">
          <div class="card-body" id="comments-expanded-{{post.id}}">
            {% for comment in post.comments %}
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <a href="/posts/{{comment.user.username}}"
                  >{{comment.user.username}}</a
                >: {{comment.text}}
              </div>
              <div>
                <small class="text-muted"> {{comment.date_created}}</small>
                {% if user.id == comment.author or user.id == post.author %}
                <div class="btn-group mb-2 mr-2">
                  <button
                    type="button"
                    class="btn btn-sm btn-primary dropdown-toggle"
                    data-bs-toggle="dropdown"
                  ></button>
                  <br />
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        href="/delete-comment/{{comment.id}}"
                        class="dropdown-item"
                        >Delete</a
                      >
                    </li>
                  </ul>
                </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <form
        class="input-group mb-3"
        method="POST"
        action="/create-comment/{{post.id}}"
      >
        <input
          type="text"
          id="text"
          name="text"
          class="form-control"
          placeholder="Comment something!"
        />
        <button type="submit" class="btn btn-primary">Comment</button>
      </form>
    </div>
    <div class="card-footer text-muted">
      {% if not post.time_updated %}
      <strong>Created: </strong>{{post.date_created}} {% else %}
      <strong>Created: </strong>{{post.date_created}} ,
      <strong>Edited: </strong> {{post.time_updated}} {% endif %}
    </div>
  </div>
  <br/ > {% endfor %}
</div>
{% endblock %}
